{% load i18n %}
<option value="Argentina"{% if selected == "Argentina" %} selected{% endif %}>{% trans "Argentina" %}</option>
<option value="Australia"{% if selected == "Australia" %} selected{% endif %}>{% trans "Australia" %}</option>
<option value="Austria"{% if selected == "Austria" %} selected{% endif %}>{% trans "Austria" %}</option>
<option value="Belgium"{% if selected == "Belgium" %} selected{% endif %}>{% trans "Belgium" %}</option>
<option value="Brazil"{% if selected == "Brazil" %} selected{% endif %}>{% trans "Brazil" %}</option>
<option value="Canada"{% if selected == "Canada" %} selected{% endif %}>{% trans "Canada" %}</option>
<option value="Chile"{% if selected == "Chile" %} selected{% endif %}>{% trans "Chile" %}</option>
<option value="Colombia"{% if selected == "Colombia" %} selected{% endif %}>{% trans "Colombia" %}</option>
<option value="Croatia"{% if selected == "Croatia" %} selected{% endif %}>{% trans "Croatia" %}</option>
<option value="Cyprus"{% if selected == "Cyprus" %} selected{% endif %}>{% trans "Cyprus" %}</option>
<option value="Czechia"{% if selected == "Czechia" %} selected{% endif %}>{% trans "Czechia" %}</option>
<option value="Denmark"{% if selected == "Denmark" %} selected{% endif %}>{% trans "Denmark" %}</option>
<option value="Estonia"{% if selected == "Estonia" %} selected{% endif %}>{% trans "Estonia" %}</option>
<option value="Finland"{% if selected == "Finland" %} selected{% endif %}>{% trans "Finland" %}</option>
<option value="France"{% if selected == "France" %} selected{% endif %}>{% trans "France" %}</option>
<option value="Germany"{% if selected == "Germany" %} selected{% endif %}>{% trans "Germany" %}</option>
<option value="Greece"{% if selected == "Greece" %} selected{% endif %}>{% trans "Greece" %}</option>
<option value="Hong Kong"{% if selected == "Hong Kong" %} selected{% endif %}>{% trans "Hong Kong" %}</option>
<option value="Hungary"{% if selected == "Hungary" %} selected{% endif %}>{% trans "Hungary" %}</option>
<option value="Iceland"{% if selected == "Iceland" %} selected{% endif %}>{% trans "Iceland" %}</option>
<option value="Ireland"{% if selected == "Ireland" %} selected{% endif %}>{% trans "Ireland" %}</option>
<option value="Israel"{% if selected == "Israel" %} selected{% endif %}>{% trans "Israel" %}</option>
<option value="Italy"{% if selected == "Italy" %} selected{% endif %}>{% trans "Italy" %}</option>
<option value="Japan"{% if selected == "Japan" %} selected{% endif %}>{% trans "Japan" %}</option>
<option value="Latvia"{% if selected == "Latvia" %} selected{% endif %}>{% trans "Latvia" %}</option>
<option value="Lithuania"{% if selected == "Lithuania" %} selected{% endif %}>{% trans "Lithuania" %}</option>
<option value="Luxembourg"{% if selected == "Luxembourg" %} selected{% endif %}>{% trans "Luxembourg" %}</option>
<option value="Malta"{% if selected == "Malta" %} selected{% endif %}>{% trans "Malta" %}</option>
<option value="Mexico"{% if selected == "Mexico" %} selected{% endif %}>{% trans "Mexico" %}</option>
<option value="Netherlands"{% if selected == "Netherlands" %} selected{% endif %}>{% trans "Netherlands" %}</option>
<option value="New Zealand"{% if selected == "New Zealand" %} selected{% endif %}>{% trans "New Zealand" %}</option>
<option value="Norway"{% if selected == "Norway" %} selected{% endif %}>{% trans "Norway" %}</option>
<option value="Peru"{% if selected == "Peru" %} selected{% endif %}>{% trans "Peru" %}</option>
<option value="Poland"{% if selected == "Poland" %} selected{% endif %}>{% trans "Poland" %}</option>
<option value="Portugal"{% if selected == "Portugal" %} selected{% endif %}>{% trans "Portugal" %}</option>
<option value="Romania"{% if selected == "Romania" %} selected{% endif %}>{% trans "Romania" %}</option>
<option value="Singapore"{% if selected == "Singapore" %} selected{% endif %}>{% trans "Singapore" %}</option>
<option value="Slovakia"{% if selected == "Slovakia" %} selected{% endif %}>{% trans "Slovakia" %}</option>
<option value="Slovenia"{% if selected == "Slovenia" %} selected{% endif %}>{% trans "Slovenia" %}</option>
<option value="South Africa"{% if selected == "South Africa" %} selected{% endif %}>{% trans "South Africa" %}</option>
<option value="South Korea"{% if selected == "South Korea" %} selected{% endif %}>{% trans "South Korea" %}</option>
<option value="Spain"{% if selected == "Spain" %} selected{% endif %}>{% trans "Spain" %}</option>
<option value="Sweden"{% if selected == "Sweden" %} selected{% endif %}>{% trans "Sweden" %}</option>
<option value="Switzerland"{% if selected == "Switzerland" %} selected{% endif %}>{% trans "Switzerland" %}</option>
<option value="Taiwan"{% if selected == "Taiwan" %} selected{% endif %}>{% trans "Taiwan" %}</option>
<option value="Thailand"{% if selected == "Thailand" %} selected{% endif %}>{% trans "Thailand" %}</option>
<option value="Turkey"{% if selected == "Turkey" %} selected{% endif %}>{% trans "Turkey" %}</option>
<option value="United Arab Emirates"{% if selected == "United Arab Emirates" %} selected{% endif %}>{% trans "United Arab Emirates" %}</option>
<option value="United Kingdom"{% if selected == "United Kingdom" %} selected{% endif %}>{% trans "United Kingdom" %}</option>
<option value="United States"{% if selected == "United States" %} selected{% endif %}>{% trans "United States" %}</option>
<option value="Uruguay"{% if selected == "Uruguay" %} selected{% endif %}>{% trans "Uruguay" %}</option>
<option value="Uzbekistan"{% if selected == "Uzbekistan" %} selected{% endif %}>{% trans "Uzbekistan" %}</option>
<option value="Vanuatu"{% if selected == "Vanuatu" %} selected{% endif %}>{% trans "Vanuatu" %}</option>
<option value="Vatican City"{% if selected == "Vatican City" %} selected{% endif %}>{% trans "Vatican City" %}</option>
<option value="Venezuela"{% if selected == "Venezuela" %} selected{% endif %}>{% trans "Venezuela" %}</option>
<option value="Vietnam"{% if selected == "Vietnam" %} selected{% endif %}>{% trans "Vietnam" %}</option>
<option value="Wallis &amp; Futuna"{% if selected == "Wallis &amp; Futuna" %} selected{% endif %}>{% trans "Wallis &amp; Futuna" %}</option>
<option value="Western Sahara"{% if selected == "Western Sahara" %} selected{% endif %}>{% trans "Western Sahara" %}</option>
<option value="Yemen"{% if selected == "Yemen" %} selected{% endif %}>{% trans "Yemen" %}</option>
<option value="Zambia"{% if selected == "Zambia" %} selected{% endif %}>{% trans "Zambia" %}</option>
<option value="Zimbabwe"{% if selected == "Zimbabwe" %} selected{% endif %}>{% trans "Zimbabwe" %}</option>
